/*center content--------------------------*/
	@media (min-width:768px){
	.center_content {
		width:900px;
	}
}
	.center_content{
	width:880px;
	float:left;
	padding:5px 15px;
	margin:5px 55px;
	margin-top: 50px;
	margin-left: -27px;
	}
	.center_title_bar{
	width:880px;
	height:33px;
	border-radius:5px;
	padding:0 0 0 40px;
	margin:0 0 0 12px;
	_margin:0 0 0 6px;
	font-size:12px;
	background-color:rgba(96, 181, 214, 0.86);
	font-weight:bold;
	}
	.p {
	padding:5px;
	font-size:20px;
	color:white;
	}
	.jarak{
	margin-left:10px;
	padding-top:20px;
	}
/*------untuk isi-----*/
	
	.holder_gallery {
	width:385px;
	height:450px;
	border: 5px solid #5F5D5D;
	float:left;
	margin:20px;
	padding:0;
	border-radius:5px;
	text-align: center;
	}		
	.
	.holder_gallery a.photo_hover {margin:20px}
	.holder_gallery h3 { clear:left}
		
	.holder_gallery a.name{
		font-size:12px;
		text-align:left;
		position:relative;
		margin-top:15px;
		display:block;
		clear:left;
		line-height:15px;
	}

	.holder_gallery a.name1{
		font-size:12px;
		position:relative;
		display:inline;
		text-align:left;
		top:20px;
		left:0;
	}

	.holder_gallery a.description{
		font-size:12px;
		float:left;
		position:relative;
		margin-right:5px;
		padding-top:7px;
		color:gray;
		width:300px;
		display:inline;
	}
	 a.photo_hover2{
	margin:5px;
	padding: 8px;
	border-radius: .5em;
}
	.jarak_hasil {
	margin:5px;
	}
	.preview {
		text-decoration: none;
		color:black;
	}
	.preview1 {
		width: 150px;
		padding: 5px;
		margin-left: 200px;
		margin-top: -33px;
		border:2px solid grey;
		border-radius: 2px;
		color:black;
	}
	.preview1:hover{
		background-color: #3399dd;
		-webkit-transition:ease 0.8s;
		color: white;
	}
	.preview:hover{
		color : white;
	}
	.preview2{
		width: 150px;
		padding: 5px;
		margin-left: 35px;
		margin-top: 15px;
		border:2px solid grey;
		border-radius: 2px;
		color:black;
	}
	.preview22{
		text-decoration: none;
		color:black;
	}
	.preview2:hover{
		background-color: #3399dd;
		-webkit-transition:ease 0.8s;
		color: white;
	}
	.preview22:hover{
		color : white;
	}