	@import url('css/reset.css');
	
	html,body{
							background : url(../images/bg.png);
							font-family : Calibri;
							margin : auto;
							height : 100%;
							width : 100%;
							}
	a{
			text-decoration : none;
			color : #333;
			}
	#banner{
					width: 100%;
					height: 70%;
					background: url(../images/banner.jpg) 0 0 repeat;
					background-attachment: fixed;
					position: relative;
					}
	#banner #overlay{
										position: absolute;
										top: 0;
										right: 0;
										bottom: 0;
										left: 0;
										background: url(../images/overlay.png) 0 100% repeat-x;
									}
	#logo h1{
						margin: 0 auto;
						text-align: center;
						font-family: 'Montez', cursive;
						font-size: 100px;
						color: #eee;
						text-shadow: 1px 1px 1px #000, 1px 2px 3px #555;
				}
	#logo #jobdesc{
									display: block;
									width: 100%;
									text-align: center;
									margin: 5px auto;
									color: #eee;
									font-size: 20px;
									text-shadow: 1px 1px 1px #000;
								}
	nav{
				background : #B16B67;
				background-attachment: fixed;
				z-index : 1030;
				position : relative;
				padding : 1px;
			}
	#simple{
						list-style-type : none;
						display : block;
					}
	#simple li{
							display : inline-block;
							}
	#simple li a{
								padding : 10px;
								color : #fff;
							}
	#simple li a:hover{
												background : #262A29;
												border-radius : 5px;
											}
	section{
		width: 900px;
		max-width: 900px;
		margin: 40px auto;
	}
		.section{
			display: table;
			width: 100%;
		}
		.section .content{
									display: table-row;
									width: 100%;
									}
		.section .box{
								display: table-cell;
								border: 5px solid transparent;
								padding: 10px;
								width:31.3333%;
							}
		.section .box:hover{
											background: #ddd;
											transition : 0.6s;
											border: 5px solid #C09A7F;
											}
		.section .box h3{
										padding: 10px;
										font-size: 18px;
										font-weight: bold;
									}
		.section .box p{
									padding: 10px;
									line-height: 1.5em;
								}
		.section .box img{
										width:100%;
										max-width: 100%;
										height: auto;
										border-radius: 10px;
										}
	footer{
		border-top: 3px solid #ddd;
		padding: 30px auto;
		display: table;
		width: 900px;
		max-width: 900px;
		margin: 40px auto;
		font-size: 12px;
	}
		footer a{
			text-decoration: none;
			color: #666;
			padding: 2px;
			border-bottom: 1px solid #ddd;
		}
			footer a:hover{
				background: #ddd;
			}

		footer .content{
			width: 100%;
			display: table-row;
		}
			footer .box{
				display: table-cell;
				padding: 10px;
				width: 50%;
			}

				footer .box:nth-child(2){
					text-align: right;
				}


	@media (max-width: 860px){

														section,
														.gallery,
														.testimonial,
														footer{
															width: 90%;
														}
														.gallery{
															padding: 0;
														}
														.section .box:nth-child(1){
															border-radius: 0;
														}

														footer{
															text-align: center;
														}
														footer .box{
															display: block;
															width: 90%;
														}
								}
		@media (max-width: 640px){
															#banner{
																height: 101%;
																min-height: 350px;
															}
															#logo h1{
																font-size: 75px;
															}
															
															.gallery .box{
																/*display: block;*/
															}

															.section .box{
																margin:auto;
																display: block;
																width: 80%;
																padding: 5%;
																border-radius: 0;
															}
															footer .box:nth-child(2){
																text-align: center;
																width: 90%;
															}
															footer .box strong{
																display: block;
															}
													}